{% load static %}
{% load i18n %}
<title>Upload Success</title>
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" media="screen">

<body>
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Success!</h4>
            <p>Your schedule has been successfully uploaded.</p>
            <hr>
            <p class="mb-0">You can now view and manage your schedule.</p>
        </div>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</body>

</html>